.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
  
}

@media only screen and (max-width: 600px) {

    .shop-container{
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 10px;
        
        
    }
}
